MONGODB_URI=mongodb+srv://gruporeisuser:81221513Ak@gruporeis.5sg5ru5.mongodb.net/?appName=gruporeis
NEXTAUTH_SECRET=defina-uma-chave-segura
NEXTAUTH_URL=http://localhost:3000
STORAGE_ENDPOINT=
STORAGE_KEY=
STORAGE_SECRET=
STORAGE_BUCKET=
ADMIN_EMAIL=admin@grupreis.com
ADMIN_PASSWORD=81221513Ak

